<section class="detailedresult-section">
    <div class="card">
        <h1>Disease Prediction</h1>
        <p>Disease Name: Common Cold</p>
        <p>Accuracy: 90%</p>
        <p>Information about disease: The common cold is a viral infection of the nose and throat caused by the rhinovirus. It is the most common infectious disease in humans, with adults experiencing two to three colds per year and children experiencing six to eight colds per year. Symptoms of the common cold include sore throat, runny nose, stuffy nose, cough, sneezing, and low-grade fever. The common cold is usually a mild illness that resolves within a week or two, but it can sometimes lead to more serious complications, such as pneumonia or bronchitis.</p>
        <p>Doctor to consult: Family doctor or pediatrician</p>
    </div>
    <a href="/detailed" class="goback-button">Go Back</a>
</section>